body #main {
  display: flex;
  flex-direction: column;
}
body .top-bar {
  margin: 0;
  padding: 20px;
  background-color: #7c00ac;
  color: #fff;
}
body .options {
  float: left;
}
body .options .btn-group {
  margin: 0 20px;
}
body .title {
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: bold;
  font-size: 35px;
}
body .loading {
  float: left;
}
body .equalize {
  float: left;
}
body #content {
  display: flex;
  flex-direction: row;
  flex: 1;
}
body .left-side {
  padding: 20px;
}
body .left-side .main-image {
  cursor: pointer;
}
body .left-side .formulas {
  list-style: none;
  margin: 20px 0;
  padding: 0;
  font-weight: bold;
  font-size: 16px;
}
body .left-side .formulas li {
  padding: 5px 15px;
}
body .high-res {
  padding: 20px;
  top: 20px;
  width: 840px;
  left: 50%;
  margin-left: -400px;
  position: absolute;
  z-index: 1000;
  background-color: #fff;
}
body .high-res img {
  margin: 20px 0;
}
body .high-res .options .progress {
  display: inline-block;
  margin-bottom: -5px;
  width: 300px;
  margin-left: 20px;
}
body .high-res .options .progress .progress-bar {
  -webkit-transition: none;
  transition: none;
}
body .high-res .options .btn-group {
  margin: 0 10px;
}
body .high-res .options > .btn,
body .high-res .bottom > .btn {
  margin: 0 10px;
}
body .high-back {
  padding: 50px;
  position: fixed;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background-color: rgba(50,50,50,0.5);
  text-align: center;
  z-index: 100;
}
body .child-images {
  padding: 20px 0;
  text-align: left;
  flex: 1;
}
body .child-images .children .child {
  padding: 5px;
  cursor: pointer;
  float: left;
  margin: 3px;
  border: 5px solid #fff;
}
body .child-images .children .child.enabled {
  border-color: #a000a7;
}
body .child-images .children .child.enabled:hover {
  border-color: #999;
}
body .child-images .children .child:hover {
  background-color: #ccc;
}
body .child-images .children .child .formula {
  padding: 10px;
  font-size: 15px;
}
body .child-images .children .child .checked {
  color: #008000;
  font-size: 20px;
  padding: 0 10px 0 30px;
  width: 60px;
  display: inline-block;
}

