!!!
html
  head
    // bootstrap theme
    link(rel='stylesheet', href='bootstrap/css/bootstrap.css')

    // non-component javascript libs
    script(src='js/angular.js')

    // my actual code
    link(rel='stylesheet', href='css/index.css')
    script(src='js/index.js')
    script.
      window.addEventListener('load', function () {
        require('prototype')(document)
      })
  body
    div#main(ng-controller="MainController")
      .top-bar
        label.equalize.checkbox
          input(type='checkbox', ng-model='logEqualize')
          | Log Equalization
        .loading(ng-show='loading')
          img(src='images/loading-purple.gif')
        h3.title Fractal Flames
      .high-back(ng-show="showingHD", ng-click="hideHD()")
      .high-res(ng-show="showingHD")
        .options
          | Quality
          .btn-group
            .btn.btn-primary(ng-class="{active: hdRes === res.num}"
                            ng-click="setHDRes(res.num)"
                            ng-repeat="res in hdResolutions") {{ res.text }}
          .btn.btn-primary(ng-class="{active: hdLog}", ng-click="toggleHdLog()") Log Equalization
          span.load-time(ng-hide='loadingHD') Loading time {{ hdLoadtime }}
          .progress(ng-show='loadingHD')
            #hd-progress.progress-bar.progress-bar-success(style='width: 0%')
        img(ng-src="{{ HighDef ? HighDef : '' }}", ng-click="zoomIn($event)", ng-right-click="zoomOut($event)")
        .bottom
          a.btn.btn-success(target="_blank", href="/mega-def?funcs={{ makeKey() }}") Download Mega Definition
          | Zoom: {{ pos.xscale }} X: {{ pos.x | number:4 }} Y: {{ pos.y | number:4 }}
          .btn.btn-default(ng-click='resetZoom()') Reset Zoom
      #content
        .left-side
          .main-image(ng-click="showHD()")
            img(ng-src="{{ MainImage }}")
          ul.formulas
            li(ng-repeat="func in MainFormulas") {{ Formulas[func.Num].Text }}
        .child-images
          .children
            .child(ng-repeat="fractal in ChildImages", ng-click="useChild(fractal)")
              img(ng-src="{{ fractal.Image || 'images/loading.gif' }}")
              span.checked
                i.glyphicon.glyphicon-ok(ng-hide="fractal.Disabled")
              span.formula {{ fractal.Text }}
    
